arrow==0.17.0
beautifulsoup4==4.9.3
cassiopeia==4.0.13
certifi==2020.6.20
chardet==3.0.4
datapipelines==1.0.7
decorator==4.4.2
idna==2.10
merakicommons==1.0.9
networkx==2.5
Pillow==7.2.0
py==1.9.0
pymongo==3.11.0
python-dateutil==2.8.1
python-dotenv==0.14.0
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
Unidecode==1.1.1
urllib3==1.25.10
